<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
            rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/style.css') }}"
          rel="stylesheet" />
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>
<body>
    <div class="container">
        <h1 class="text-center text-success">THANH TOÁN GIỎ HÀNG</h1>
        <div class="alert alert-warning">
            <h3>Tổng sản phẩm: {{ cart_info.total_quantity }}</h3>
            <h3>Tổng tiền: {{ cart_info.total_amount }} VND</h3>
        </div>
        <table class="table">
            <tr>
                <th>Mã sản phẩm</th>
                <th>Tên sản phẩm</th>
                <th>Số lượng</th>
                <th>Đơn giá</th>
            </tr>
            {% if 'cart' in session %}
            {% for p in session['cart'].values() %}
            <tr>
                <td>{{ p.id }}</td>
                <td>{{ p.name }}</td>
                <td>
                    <div class="form-group">
                        <input type="number" class="form-control"
                               value="{{ p.quantity }}" />
                    </div>
                </td>
                <td>{{ p.price }} VNĐ</td>
            </tr>
            {% endfor %}
            {% endif %}
        </table>
        <input type="button"
               onclick="pay()"
               value="Thanh toán"
               class="btn btn-danger" />
    </div>
</body>
</html>