<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quản lý sản phẩm</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
            rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/style.css') }}"
          rel="stylesheet" />
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>
<body>
    <div class="container">
        <h1 class="text-center">QUẢN LÝ SẢN PHẨM</h1>
        <div>
            <form>
                <div class="form-group">
                    <input class="form-control"
                           name="kw"
                           placeholder="Nhập từ khóa đề tìm..." />
                </div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        <input type="number"
                               name="from_price"
                               class="form-control"
                               placeholder="Nhập giá bắt đầu..." />
                    </div>
                    <div class="col-md-6 form-group">
                        <input type="number"
                               class="form-control"
                               name="to_price"
                               placeholder="Nhập giá kết thúc..." />
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Tìm kiếm"
                           class="btn btn-danger" />
                </div>
            </form>
        </div>
        <h1 class="badge badge-primary">0</h1>
        <table class="table">
            <tr>
                <th></th>
                <th>Id</th>
                <th>Name</th>
                <td>Description</td>
                <td>Price</td>
                <td></td>
            </tr>
            {% for p in products %}
            <tr>
                <td>
                    <img src="{{ url_for('static', filename=p.image) }}"
                         alt="{{ p.name }}" width="120" />
                </td>
                <td>{{ p.id }}</td>
                <td>
                    <a href="{{url_for('product_detail', product_id=p.id) }}">{{ p.name }}</a>
                </td>
                <td>{{ p.description }}</td>
                <td>{{ "{:,.1f}".format(p.price) }} VNĐ</td>
                <td>
                    <a href="javascript:;"
                       onclick="addToCart({{ p.id }}, '{{ p.name }}', {{ p.price }})">Đặt hàng</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>